<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Online Shop</title>
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" /> 
</head>
<body>
    <!-- Header -->
    <div id="header">
        <h1 id="logo"><a href="#">shoparound</a></h1>
        <!-- Cart -->
        <div id="cart">
            <a href="#" class="cart-link">Your Shopping Cart</a>
            <div class="cl">&nbsp;</div>
            <span>Articles: <strong>№</strong></span>         
            <span>Cost: <strong>$$</strong></span>
        </div>
        <!-- End Cart -->
        <!-- Navigation -->
        <div id="navigation">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                @*<li><a href="@Url.Action("Register", "Account")">Register</a></li>*@
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
        <!-- End Navigation -->
    </div>   
    <div class="container body-content">
        @RenderBody()  
        <hr />
        <footer>
            <!-- Footer -->
            <div id="footer">
                <p class="left">
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <a href="@Url.Action("Contact", "Home")">Contact</a>
                </p>
                <p class="right">
                    &copy; 2010 Shop Around.
                    Design by <a href="http://bayguzin.ru/" target="_blank" title="">bayguzin.ru</a>
                </p>
            </div>
            <!-- End Footer -->
        </footer>         
    </div>
</body>
</html>
